@{
    ViewBag.Title = "Reclaim Denton Maps";
}
@section scripts {
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="~/Scripts/index.js"></script>
}
@section css
{
    <style>
        #map-canvas {
            height: 500px;
            margin: 0;
            padding: 0;
        }
        #map-canvas img {
            max-width: none;
        }
    </style>
}
<div class="container-fluid" ng-controller="Index">
    <div class="row-fluid">
        <div class="span2" id="leftmenu">
            
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="c in categories" ng-click="toggleGroup(c)"><i ng-class="{'icon-ok': c.Show, 'icon-ban-circle': !c.Show}"></i> {{ c.Name }}</li>
            </ul>
        </div>
        <div class="span10">
            <div id="map-canvas"></div>
        </div>
    </div>
</div>
