@{
    ViewBag.Title = "Home Page";  
}
@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
        var map;
        function initialize() {
            var mapOptions = {
                zoom: 8,
                center: new google.maps.LatLng(-34.397, 150.644),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map($('#map-canvas')[0], mapOptions);
        }

        $(function() {
            initialize();
        });
    </script>
}
@section css
{
    <style>
        #map-canvas {
            height: 500px;
            margin: 0;
            padding: 0;
        }
    </style>
}
<div id="map-canvas"></div>
